
<div class="bg p-5">

    <a href="#" class="block max-w-sm p-6 border border-gray-200 rounded-lg shadow bg-black dark:border-gray-700 hover:bg-gray-700">
        <h3 class="mb-2 text-3xl font-bold tracking-tight text-white">First Term Examination</h3>
        <p class="font-normal text-gray-400">Start on 29-April-2023</p>

    </a>
    
    
    <a href="#" class="block max-w-sm p-6 border mt-5 border-gray-200 rounded-lg shadow bg-black dark:border-gray-700 hover:bg-gray-700">
        <h3 class="mb-2 text-3xl font-bold tracking-tight text-white">First Term Model Examination</h3>
        <p class="font-normal text-gray-400">Start on 08-April-2023</p>

    </a>
    
</div>
